header, #container, p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}
body {
  background-color: #22396f;
  text-align: center;
}
li {
	background-color: #22396f;
	color: #8B6671;
	display:inline-block;
  	font-size: 1rem;
  	font-weight: bold;
	padding: 5px 5px 5px 5px;
	border-radius: 15px;
}
table {
  border: 4px solid #555555;
  background-color: #555555;
  width: 400px;
  text-align: center;
  border-collapse: collapse;
  margin-left:auto; 
  margin-right:auto;
}
table td, table.steelBlueCols th {
  border: 1px solid #555555;
  padding: 5px 10px;
}
table tbody td {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}
table td:nth-child(even) {
  background: #398AA4;
}
table thead {
  background: #398AA4;
  border-bottom: 10px solid #398AA4;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #398AA4;
}
table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 13px;
}
table tfoot .links {
  text-align: right;
}
table tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 2px 8px;
  border-radius: 5px;
}
