html{
  font-size: 12px;
  font-family: sans-serif;
}
body {
	background-color: #375659;
	color: #88A2A5;
	text-align: center;
  	margin: 10px;
  	border-radius: 20px
}

p {
	color: #9A5B52;
}

h1 {
	text-decoration: underline;
}

footer p {
	background-color: #5443AF;
	text-shadow: 4px 4px 5px black;
}

li {
	background-color: #7A2941;
	color: #8B6671;
	display:inline-block;
  	font-size: 1rem;
  	font-weight: bold;
	padding: 5px 5px 5px 5px;
	border-radius: 15px;
}
