html{
  	font-size: 15px;
  	font-family: sans-serif;
}

body {
	background-color: #88A2A5;
	color: #163335;
	text-align: center;
  	margin: 10px;
  	border-radius: 20px
}

p {
	color: #163335;
}

h2 {
	display: center;
  	background: #792d48;
  	border: 6px inset rgba(28,110,164,0.81);
  	color: #ffffff;
  	padding: 5px;
  	text-align: center;
}

h3 {
	display: center;
  	background: #792d48;
  	border: 6px inset rgba(28,110,164,0.81);
  	color: #ffffff;
  	padding: 5px;
  	text-align: center;
}

h4 {
	display: center;
  	background: #792d48;
  	border: 6px inset rgba(28,110,164,0.81);
  	color: #ffffff;
  	padding: 5px;
  	text-align: center;
}

h5 {
	display: center;
  	background: #792d48;
  	border: 6px inset rgba(28,110,164,0.81);
  	color: #ffffff;
  	padding: 5px;
  	text-align: center;
}

footer p {
	background-color: #7c8892;
	text-shadow: 4px 4px 5px black;
}

li {
	background-color: #84b79d;
	color: #8B6671;
	display:inline-block;
  	font-size: 1rem;
  	font-weight: bold;
	padding: 5px 5px 5px 5px;
	border-radius: 15px;
}

h1 {
  position: relative;
  background-image: -webkit-linear-gradient(#378DBC 0%, #253475 46%, #ffffff 50%, #32120E 54%, #88ffe7 58%, #673a1f 90%, #327d8a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #7f4b4b00;
  -webkit-text-stroke: 4px #04e9f5;
  font-size: 80px;
  font-style: italic;
  margin: 0;
  line-height: 1;
}

